<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hskj.publishsystem">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".control.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.LauncherViewPagerActivity"></activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.me.LoginActivity" />
        <activity android:name=".ui.publish.PublishNewsDetailsActivity" />
        <activity android:name=".ui.check.CheckNewsDetailsActivity" />
        <activity android:name=".ui.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>